{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Mon panier</h1>

        <div class="row">
            <div class="col-md-8">
                {% for product in cart %}
                    <div class="card mb-3 shadow-sm">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="/uploads/{{ product.object.illustration }}" class="img-fluid rounded" alt="{{ product.object.name }}" style="max-width: 100px;">
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.object.name }}</h5>
                                    <p class="card-text">
                                        Prix unitaire : <strong>{{ product.object.priceWt|price }}</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <a href="{{ path('app_cart_decrease', {id : product.object.id})}}">-</a><span class="mb-0 "><strong class="p-2">{{ product.qty }}</strong></span><a class=" p-2 " href="{{ path('app_cart_add', {id : product.object.id})}}">+</a>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <p class="mb-0"><strong>{{ (product.qty * product.object.priceWt)|price }}</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
				<a href="{{ path('app_cart_remove')}}" class="btn btn-success mt-3">Vider le panier</a>
            </div>

            <div class="col-md-4">
				<div class="bg-light p-3 shadow-sm">
					
					<div class="d-flex justify-content-between ">
						<span class="fw-bold">Total produit</span>
						<span>{{fullCartQuantity}}</span>
					</div>
					
					<div class="d-flex justify-content-between mt-5 ">
						<span class="fw-bold ">Prix totale T.T.C</span>
						<span>{{totalWt|price}}</span>
					</div>
					<a href="" class="btn btn-success w-100 my-3">Commander</a>

				</div>
				
                
            </div>
        </div>
    </div>
{% endblock %}
