{% extends "base.html.twig" %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-primary">Espace Membre</h1>

		<div class="row">
			<div class="col-md-3">
				{% include "account/_menu.html.twig" %}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between align-items-center py-3">
					<h5 class="mb-0 text-primary">Mes adresses</h5>
				</div>

				{% if app.user.adresses|length == 0 %}
					<p>Vous n'avez pas encore enregistré d'adresse sur la boutique</p>
				{% else %}
					<div class="row g-4">
						{% for adress in app.user.adresses %}
							<div class="col-md-4">
								<div class="card shadow-sm border-0">
									<div class="card-body text-center">
										<h6 class="card-title fw-bold">{{ adress.firstname }}
											{{ adress.lastname }}</h6>
										<p class="card-text">
											{{ adress.adress }}<br>
											{{ adress.postal }},
											{{ adress.city }}<br>
											{{ adress.country }}<br>
										</p>
										<a href="{{ path('app_account_adress_form', { id : adress.id})}}" class="btn btn-primary text-white">Editer</a>
										<a href="{{ path('app_account_adress_delete', { id : adress.id})}}" class="btn btn-danger text-white">Supprimer</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}

				<!-- Bouton "Ajouter une adresse" déplacé en dehors de la boucle -->
				<div class="text-center mt-4">
					<a href="{{ path('app_account_adress_form') }}" class="btn btn-success">Ajouter une adresse</a>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
